.Home1__container {
    position: relative;
    width: 100%;
    background-color: #070707
}
.Home1__img-container{
    position: relative;
    left: 80px;
    top: 10px;
    width: calc(100% - 160px);
}
.Home1__img{
    width: 100%;
}
.Home1__text-container {
    position: relative;
    z-index: 10;
    width: calc(100% - 60px);
    margin: -70px 30px 70px 30px;
    padding: 0 20px 0 0;
}
.Home1__text-container h1{
    color: #fff;
    line-height: clamp(1.4rem, 5vw, 30rem);
    font-size: clamp(1rem, 6vw, 30rem);
    text-align: right;
    
}
@keyframes blinkAndDisappear {
  0%, 1%, 7%, 8%, 11%{ opacity: 1; }
  2%, 6%, 9%, 10% { opacity: 0; }
  60% { opacity: 1; } 
  61%, 62%, 68%, 69%, 75% { opacity: 0; }
  63%, 67%, 73%, 74% { opacity: 1; }
}

.Home1__text-container::before,
.Home1__text-container::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 2px solid white;
}

.Home1__text-container::before {
  top: -10px;
  right: -10px;
  border-left: none;
  border-bottom: none;
  animation: blinkAndDisappear 3s infinite;
}

.Home1__text-container::after {
  bottom: -10px;
  left: -10px;
  border-top: none;
  border-right: none;
  animation: blinkAndDisappear 3s infinite alternate; 
}

  .Home1__text2-container {
    position: relative;
    background-color: #233FDB;
    padding: 50px 30px;
  }
  .Home1__text2-container h4,
  .Home1__text2-container p {
    color:#fff;
  } 
  .Home1__text2-container h4 {
    line-height: clamp(1rem, 6vw, 30rem);
    font-size: clamp(1rem, 6vw, 30rem);
    font-weight: 400;
  }
  .Home1__text2-container p {
    line-height: clamp(0.5rem, 4.8vw, 30rem);
    font-size: clamp(0.5rem, 4.5vw, 30rem);
    font-weight: 200;
  }